* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#gameframe {
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0 0 25px 10px gray;
  min-height: 300px;
  min-width: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 30%));
  gap: 10px;
  padding: 1em;
}

.subgrid {
  border: 2px solid green;
  border-radius: 5px;
  min-height: 100px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameoptions {
}
